<div class="job-listing-wrapper">
    <!-- Job card -->
    <div *ngFor = "let job of jobPostData" class="card-wrapper">
        <!-- Expires Tag -->
        <!-- <div *ngIf="job.expires" class="expires">
            Expires in 5 days
        </div> -->
        <!-- end Expires Tag -->

        <!-- Job title -->
        <h1 class="job-title">{{job.Title}}</h1>

        <!-- Job Address -->
        <div class="job-address-wrapper">
            <div class="address-heading">Date & Time</div>
            <div class="date-time-wrapper">
                <div class="date-time">{{job.StartDate}} to {{ job.EndDate }}</div>
                <div class="vertical-seprator"></div>
                <div class="location">
                    <img class="location-logo" src="../../assets/icons/location_icon.svg" alt="interview location">
                    {{job.Address[0].City}}
                </div>
            </div>
        </div>
        <!-- end job address -->

        <!-- Seprator -->
        <div class="horizontal-seprator"></div>

        <!-- Job roles -->
        <div class="jobrole-wrapper">
            <div class="jobrole-title">Job Role :</div>

            <!-- .Job wrapper -->
            <div class="jobroles">
                <ng-container *ngFor="let jobrole of job.JobRoles">
                    <!-- Job role 1  -->
                    <div class="job">
                        <div class="job-icon-wrapper">
                            <img src="../../assets/icons/Instructional Designer.svg" alt="Instructional Designer">
                        </div>
                        {{ jobrole.RoleTitle }}
                    </div>
                    <!-- end job role 1 -->
                    <!-- <div class="jobroles-vertical-seprator"></div> -->
                </ng-container>
            </div>
            <!-- end job wrapper -->
        </div>
        <!-- end job roles -->

        <!-- Special opportunity -->
        <!-- <div *ngIf="job.special_opportunity" class="special-opportunity">
            {{job.special_opportunity}}
        </div> -->
        <!-- end special opportunity -->

        <!-- View More Details button -->
        <div class="view-details-button-wrapper">
            <button id="{{ job.Id }}" (click)="onClickjumpToDetailedDescriptionPage($event)">view more details</button>
        </div>
        <!-- end View More Details button -->
    </div>
    <!-- end job card -->
</div>