<div class="receipt-wrapper">
    <!-- Receipt heading -->
    <h1>Congratulations ! You have successfully applied for the walk-in opportunity</h1>

    <!-- Seprator -->
    <div class="seprator"></div>

    <!-- Date and time -->
    <div class="date-time-wrapper">
        <div class="receipt-section-heading">Date & Time of Walk-In :</div>
        <div class="receipt-content">
            <p>03<sup>rd</sup> July 2021</p>
            <p>9:00 AM to 11:00 AM</p>
        </div>
    </div>
    <!-- end date and time -->

    <!-- Seprator -->
    <div class="seprator"></div>

    <!-- Venue -->
    <div class="venue-wrapepr">
        <div class="receipt-section-heading">Venue of Walk-in :</div>
        <address class="receipt-content">
            Zeus Systems Pvt. Ltd. <br> 
            1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg <br> 
            Lower Parel (W) <br>
            Mumbai - 400 013 <br>
            Phone: +91-22-66600000
        </address>
    </div>
    <!-- end venue -->

    <!-- Seprator -->
    <div class="seprator"></div>

    <!-- Things to remember -->
    <div class="things-remember-wrapper">
        <div class="receipt-section-heading">THINGS TO REMEMBER :</div>
        <div class="receipt-content">
            - Please report 30 MINUTES prior to your reporting time. <br>
            - Download your Hall Ticket from below and carry it with you during your Walk-In.
        </div>
    </div>

    <!-- Seprator -->
    <div class="seprator"></div>

    <!-- Download hall ticket -->
    <div class="download-hall-ticket-wrapper">
        <button>download hall ticket</button>
    </div>
    <!-- end download hall ticket -->
</div>