@import '../variables';

.set-password-wrapper{
    margin: 24px;
    display: flex;
    justify-content: center;

    .set-password-form-wrapper{
        background-color: #FFFFFF;
        border-top: 4px solid #3AC7EC;
        border-radius: 2px;
        padding: 24px 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        h2{
            color: $primaryTextColor;
            font-size: $fontXl;
            font-weight: bold;
        }

        .input-wrapper{
            margin-top: 32px;

            input{
                padding: 5px 0px;
                width: 400px;
                font-size: $fontLarge;
                border: none;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);

                &:focus{
                    outline: none;
                }
            }
        }


        .button-wrapper{
            display: flex;
            justify-content: center;
            margin-top: 34px;

            button{
                background-color: $primaryButtonColor;
                color: $primaryTextColor;
                padding: 11px 20px;
                border: none;
                box-shadow: 0px 3px 5px $shadowColor;
                font-family: quicksand;
                font-size: $fontMedium;
                font-weight: bold;
                text-transform: uppercase;

                &:hover{
                    background-color: $primaryButtonHoverColor;
                }

                &:disabled{
                    background-color: $primaryButtonDisabledColor;
                }
            }
        }
    }
}
// ##### Error text styling #####
.error-wrapper {
    color: $redTextColor;
    font-size: $fontSmall;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
// end error text styling