<ng-container [formGroup]="passworFormGroup">
    <div class="set-password-wrapper">
        <div class="set-password-form-wrapper">
            <h2>Choose Password</h2>
    
            <!-- Email(Can not be changed) -->
            <div class="input-wrapper">
                <input type="text"
                    id="passwordEmail"
                    placeholder="Enter your email"
                    value="{{ userEmail }}"
                    disabled
                >
            </div>
            <!-- end Email(Can not be changed) -->
    
            <!-- Password -->
            <div class="input-wrapper">
                <input type="text"
                    id="password"
                    placeholder="Password*"
                    formControlName="password"
                >
                <div *ngIf="passworFormGroup.controls['password'].touched && passworFormGroup.controls['password'].errors" class="error-wrapper">
                    <span *ngIf="passworFormGroup.controls['password'].errors['required']">Password is required!</span>
                    <span *ngIf="passworFormGroup.controls['password'].errors['minlength']">Password must be of atleast 6 digits!</span>
                </div>
            </div>
            <!-- end Password -->
    
            <div class="button-wrapper">
                <button [disabled]="!singupForm.valid" (click)="onCreateAccountButtonClick()">create account</button>
                <!-- <button (click)="onCreateAccountButtonClick()">create account</button> -->
            </div>
        </div>
    </div>
</ng-container>