$primaryButtonColor: #3FD28B;
$primaryButtonHoverColor: #04ce6d;
$primaryButtonDisabledColor: #77d9aa;
$buttonnTextColor: #1F2834;
$jobButtonTextColor: #25313F;

$primaryTextColor: #222222;
$secondaryTextColor: #666666;
$greyTextColor: #757575;
$greenTextColor: #1F7A54;
$whiteTextColor: #FFFFFF;
$redTextColor: #D10107;

$grayBackgroundColor: #EEEEEE;
$signuptopbarBackgroundColor: #3C4E62;
$yellowBackgroundColor: #EEDD6B;
$jobExpiresBackgroundColor: #FFE4E6;

$shadowColor: #0000003D;

$fontXs: 10px;
$fontSmall: 12px;
$fontMedium: 14px;
$fontLarge: 16px;
$jobCardTitleFontSize: 18px;
$fontXl: 24px;