@import '../_variables.scss';

.forgot-password-wrapper {
    background-color: $grayBackgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 143px 0px 90px 0px;

    .forgot-password-form-wrapper {
        background-color: #FFFFFF;
        border-top: 4px solid #3AC7EC;
        border-radius: 2px;
        padding: 24px 32px;

        h1 {
            color: $primaryTextColor;
            font-size: $fontXl;
            text-align: center;
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 32px;

            .form-input {
                background-color: transparent;
                color: $secondaryTextColor;
                font-size: $fontLarge;
                width: 100%;
                height: 25px;
                border: none;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);

                &:focus{
                    outline: none;
                }
            }

            p {
                text-align: right;
                color: $greenTextColor;
                font-size: $fontMedium;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 5px;
                min-width: fit-content;
            }

            .error-wrapper{
                color: $redTextColor;
                font-size: $fontSmall;
                margin-top: 5px;
                font-weight: bold;
                display: flex;
                flex-direction: column;
            }
            div{
                display: flex;
                justify-content: space-between;
            }
        }

        .submit-button-wrapper{
            display: flex;
            justify-content: center;
            margin-top: 32px;

            button{
                background-color: $primaryButtonColor;
                color: #1F2834;
                font-size: $fontMedium;
                text-transform: uppercase;
                border: none;
                box-shadow: 0px 3px 5px $shadowColor;
                padding: 11px 85px;
                cursor: pointer;

                &:hover{
                    background-color: $primaryButtonHoverColor;
                }

                &:disabled{
                    background-color: $primaryButtonDisabledColor;
                    cursor: default;
                }
            }
        }
    }

    .remember-password-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 24px;

        :first-child{
            color: $primaryTextColor;
            font-size: $fontSmall;
        }

        :last-child{
            color: $greenTextColor;
            font-size: $fontMedium;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 376px) {
    .forgot-password-form-wrapper{
        width: 488px;
    }
}

.success-message-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    
    .success-message{
        box-shadow: 0px 5px 5px $shadowColor;
        border-top: 4px solid #3AC7EC;
        padding: 24px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: $greenTextColor;
            padding: 0px;
            margin: 0px;
            text-transform: uppercase;
        }

        svg{
            max-height: 150px;
            max-width: 150px;
            height: 150px;
            width: 150px;
            margin: 20px 0px;
        }

        .success-text-message{
            color: $greenTextColor;
            font-size: $fontLarge;
            font-weight: bold;
        }

        button{
            background-color: $primaryButtonColor;
            color: $primaryTextColor;
            text-transform: uppercase;
            font-weight: bold;
            font-size: $fontMedium;
            border-radius: 2px;
            padding: 10px 20px;
            margin-top: 10px;
            border: none;
            cursor: pointer;
            box-shadow: 0px 3px 3px $shadowColor;
        }
    }
}