<app-scroll-to-top></app-scroll-to-top>
<app-loader [showLoader]="loading"></app-loader>

<div class="jobapplication-wrapper">
    <!-- Job details -->
    <div class="job-details-wrapper">
        <!-- Heading and apply button -->
        <div class="heading">
            <h1>{{ jobpostData?.Title }}</h1>
            <button [disabled]="!jobApplicationForm.valid" (click)="submitJobApplicationForm()">apply</button>
        </div>
        <!-- end heading -->

        <!-- Date and time -->
        <div class="date-time-wrapper">
            <div class="date-time">{{ jobpostData?.StartDate }} to {{jobpostData?.EndDate}}</div>
            <div class="vertical-seprator"></div>
            <div class="location">
                <img class="location-logo" src="../../assets/icons/location_icon.svg" alt="interview location">
                {{ jobpostData.Address != undefined ? jobpostData.Address[0].City : '' }}
            </div>
        </div>
        <!-- end date and tiem -->

        <!-- Seprator -->
        <div class="horizontal-seprator"></div>

        <!-- Job roles -->
        <div class="jobrole-wrapper">
            <div class="jobrole-title">Job Role :</div>

            <!-- .Job wrapper -->
            <div class="jobroles">
                <!-- Job role 1  -->
                <div *ngFor="let role of jobpostData.JobRoles" class="job">
                    <div class="job-icon-wrapper">
                        <img src="../../assets/icons/Instructional Designer.svg" alt="Instructional Designer">
                    </div>
                    {{ role.RoleTitle }}
                </div>
            </div>
            <!-- end job wrapper -->
        </div>

        <div class="venue-wrapper">
            <div class="venue-heading">Venue: </div>
            <div class="venue">{{ jobpostData.Address[0].HouseNo}}, {{ jobpostData.Address[0].Apartment}}, {{ jobpostData.Address[0].Landmark}}, {{ jobpostData.Address[0].City}}, {{ jobpostData.Address[0].State}}, {{ jobpostData.Address[0].Country}}, {{ jobpostData.Address[0].Zipcode}}.</div>
        </div>
        <div class="tablet-apply-button-wrapper">
            <button [disabled]="!jobApplicationForm.valid" (click)="submitJobApplicationForm()">apply</button>
        </div>
    </div>
    <!-- end job details -->
    
    <!-- Application -->
    <div class="section-wrapper">
        <!-- Section heading -->
        <div class="section-heading-wrapper">
            <div class="section-heading">Pre-requisites & Application Process</div>
            <div class="section-wrap-button-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg> -->
            </div>
        </div>
        <!-- end Section heading -->

        <!-- Section content -->
        <div class="section-content-wrapper">
            <div *ngIf="isUserApplied" class="already-apply-wrapper">You already applied for this job role</div>
            <div *ngIf="!isUserApplied" class="section-subcontent-wrapper" [formGroup]="jobApplicationForm">
                <!-- Sub Section 1 -->
                <div class="subsection">
                    <div class="subcontent-heading">
                        Select a Time Slot :
                    </div>
                    <div class="subcontent-content">
                        <div class="radio-main-wrapper">
                            <div class="radio">
                                <ng-container *ngFor="let time of jobpostData.TimeSlots">
                                    <div class="radio-wrapper">
                                        <input type="radio" 
                                            id="{{time.Id}}"
                                            value="{{time.Id}}"
                                            formControlName="timeSlot"
                                        >
                                        <label for="{{time.Id}}">{{time.StartTime}} to {{ time.EndTime }}</label>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Sub Section 1 -->

                <!-- Sub Section 2 -->
                <div class="subsection">
                    <div class="subcontent-heading">
                        Select Your Preference :
                    </div>
                    <div class="subcontent-content">
                        <div class="select-wrapper">
                            <select formControlName="preferredJobRole">
                                <option *ngFor="let jobrole of jobpostData.JobRoles" value="{{ jobrole.RoleTitle }}">{{jobrole.RoleTitle}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- end Sub Section 2 -->

                <!-- Sub Section 3 -->
                <div class="subsection">
                    <div class="subcontent-content">
                        <div class="resume-upload-wrapper">
                            <label class="personal-info-label" for="updatedResume">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="#1F7A54">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z" />
                                </svg>
                                upload resume
                            </label>
                            <span class="resume-file-name-wrapper">{{ resumeFileName || 'No file selected' }}</span>
                            <input type="file"
                                class="persobal-info-input" 
                                id="updatedResume" 
                                accept="application/pdf" 
                                (change)="onResumeSelect($event)"
                            >
                        </div>
                    </div>
                </div>
                <!-- end Sub Section 3 -->
            </div>
        </div>
        <!-- end Section content -->
    </div>
    <!-- end Application -->

    <ng-container *ngFor="let jobrole of jobpostData.JobRoles">

        <!-- Instructional designer -->
        <div class="section-wrapper">
            <!-- Section heading -->
            <div class="section-heading-wrapper">
                <div class="section-heading">{{ jobrole.RoleTitle }}</div>
                <div class="section-wrap-button-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>
                    <!-- <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg> -->
                </div>
            </div>
            <!-- end Section heading -->
    
            <!-- Section content -->
            <div class="section-content-wrapper">
                <div class="section-subcontent-wrapper">
                    <!-- Sub Section 1 -->
                    <div class="subsection">
                        <div class="subcontent-heading">
                            gross compensation package :
                        </div>
                        <div class="subcontent-content">
                            Rs. {{ jobrole.GrossPackage }} LPA
                        </div>
                    </div>
                    <!-- end Sub Section 1 -->
    
                    <!-- Sub Section 2 -->
                    <div class="subsection">
                        <div class="subcontent-heading">
                            Role Description :
                        </div>
                        <div class="subcontent-content">
                                {{ jobrole.RoleDescription }}
                        </div>
                    </div>
                    <!-- end Sub Section 2 -->
    
                    <!-- Sub Section 3 -->
                    <div class="subsection">
                        <div class="subcontent-heading">
                            Requirements :
                        </div>
                        <div class="subcontent-content">
                            {{ jobrole.Requirements }}
                        </div>
                    </div>
                    <!-- end Sub Section 3 -->
                </div>
            </div>
            <!-- end Section content -->
        </div>
        <!-- end Instructional designer -->
    </ng-container>
</div>
