@import '../variables';

.jobapplication-wrapper {
    padding: 24px;
    font-family: quicksand;

    .job-details-wrapper {
        background-color: #FFFFFF;
        padding: 16px;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            h1 {
                color: $primaryTextColor;
                font-weight: bold;
                font-size: 22px;
                margin: 0px;
            }

            button {
                background-color: $primaryButtonColor;
                color: $jobButtonTextColor;
                padding: 5px 16px;
                text-transform: uppercase;
                border: none;
                box-shadow: 0px 3px 5px $shadowColor;
                cursor: pointer;

                &:disabled{
                    background-color: $primaryButtonDisabledColor;
                    cursor: default;
                }
            }
        }

        .date-time-wrapper {
            display: flex;
            align-items: center;

            .date-time {
                color: $primaryTextColor;
                font-weight: bold;
                font-size: $fontMedium;
                padding-right: 16px;
            }

            .location {
                color: $secondaryTextColor;
                padding-left: 16px;
                font-size: $fontSmall;
                display: flex;
                align-items: center;

                .location-logo {
                    height: 16px;
                    width: 16px;
                }
            }

            .vertical-seprator {
                margin: 0px 8px;
                height: 12px;
                border-right: 2px solid rgba($secondaryTextColor, $alpha: 0.12);
            }

            .horizontal-seprator {
                width: 100%;
                height: 1px;
                border-top: 1px solid rgba($secondaryTextColor, $alpha: 0.12);
                margin: 16px 0px;
            }
        }

        .jobrole-wrapper {
            margin-bottom: 16px;

            .jobrole-title {
                color: $secondaryTextColor;
                font-size: $fontSmall;
            }

            .jobroles {
                display: flex;
                align-items: center;
                margin-top: 8px;

                .job {
                    display: flex;
                    color: $greenTextColor;
                    justify-content: center;
                    align-items: center;
                    font-size: $fontMedium;
                    font-weight: bold;

                    .job-icon-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px;
                        border: 1px solid $primaryTextColor;
                        border-radius: 100%;
                        margin-right: 8px;

                        img {
                            height: 16px;
                            width: 16px;
                        }
                    }
                }

                .jobroles-vertical-seprator {
                    margin: 0px 8px;
                    height: 12px;
                    border-right: 2px solid rgba($secondaryTextColor, $alpha: 0.12);
                }
            }
        }
    }

    .tablet-apply-button-wrapper {
        background-color: red;
        display: none;

        button {
            background-color: $primaryButtonColor;
            color: $primaryTextColor;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            padding: 10px 0px;
            width: 100%;
        }
    }
}


.section-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px $shadowColor;
    margin-top: 24px;

    // ##### Styling for the SECTION HEADING #####
    .section-heading-wrapper {
        background-color: #DBEFFF;
        display: flex;
        justify-content: space-between;

        .section-heading {
            color: $primaryTextColor;
            font-size: $fontLarge;
            font-weight: bold;
            padding: 16px;
        }

        .section-wrap-button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.12);

            svg {
                width: 12px;
            }
        }
    }

    // ##### End ####

    // ##### Styling for SECTION CONTENT #####
    .section-content-wrapper {
        padding: 0px 16px;

        .section-subcontent-wrapper {

            .subsection {
                padding: 16px 0px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);

                .subcontent-heading {
                    color: $secondaryTextColor;
                    font-weight: bold;
                    font-size: $fontSmall;
                    margin-bottom: 16px;
                    text-transform: capitalize;
                }

                .subcontent-content {
                    color: $primaryTextColor;
                    font-weight: bold;
                    font-size: $fontMedium;
                    text-align: justify;
                }
            }
        }

    }

    // ##### end #####
}

// ##### Styling for the resume upload #####
.resume-upload-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .resume-file-name-wrapper {
        color: black;
        font-size: $fontSmall;
        margin-top: 5px;
    }

    label {
        color: $greenTextColor;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fontMedium;
        display: flex;
        align-items: center;

        svg {
            height: 24px;
        }
    }

    input {
        display: none;
    }
}

// ##### End #####

// ##### Styling for the checkboxes #####
.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    input[type="checkbox"] {
        appearance: none;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    input[type="checkbox"]::after {
        content: url('../../assets/icons/checkbox-unchecked.svg');
        position: absolute;
        top: -11px;
        left: -3px;
    }

    input[type="checkbox"]:checked::after {
        content: url('../../assets/icons/checkbox-checked.svg');
        position: absolute;
        top: -11px;
        left: -3px;
    }

    .check-text-label {
        color: $primaryTextColor;
        font-size: $fontLarge;
        font-weight: bold;
        margin-left: 30px;
    }
}
// End

// Styling for RADIO BUTTONS
.radio-main-wrapper {

    .radio-label {
        color: $secondaryTextColor;
        font-size: $fontSmall;
        margin-bottom: 12px;
    }

    .radio {
        display: flex;
        flex-direction: column;
        gap: 16px;

        label {
            color: $primaryTextColor;
            font-weight: bold;
            font-size: $fontLarge;
        }

        input[type='radio'] {
            padding: 0px;
            appearance: none;
            position: relative;
        }

        input[type='radio']::after {
            content: url('../../assets/icons/radio_button_unchecked.svg');
            position: absolute;
            top: -19px;
            left: -9px;
        }

        input[type='radio']:checked:after {
            content: url('../../assets/icons/radio_button_checked.svg');
            position: absolute;
            top: -19px;
            left: -9px;
        }

        :first-child {
            margin-right: 24px;
        }
    }
}
// ##### End #####

@media only screen and (max-width: 400px) {
    .heading {
        button {
            display: none;
        }
    }

    .jobrole-wrapper {
        margin-top: 0px !important;
    }

    .jobroles {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
        gap: 8px;
    }

    .jobroles-vertical-seprator {
        display: none;
    }

    .tablet-apply-button-wrapper {
        display: block !important;
    }
}

@media only screen and (max-width: 768px) {}