@import '../variables';

.scroll-to-top-wrapper{
    background-color: $primaryButtonColor;
    position: fixed;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
    bottom: 24px;
    right: 24px;
    svg{
        height: 16px;
        width: 16px;
    }
}